<div class="container-card">
    <app-loader  [message]="'Descargando cartilla...'" *ngIf="isLoading"></app-loader>
    
    <div class="card">
        <div class="card-header">
            <div class="card-header__letter font-toybox">B</div>
            <div class="card-header__letter font-toybox">I</div>
            <div class="card-header__letter font-toybox">N</div>
            <div class="card-header__letter font-toybox">G</div>
            <div class="card-header__letter font-toybox">O</div>
        </div>
        <div class="card-body">
            <div class="card-body__number font-toybox">{{b1}}</div>
            <div class="card-body__number font-toybox">{{i1}}</div>
            <div class="card-body__number font-toybox">{{n1}}</div>
            <div class="card-body__number font-toybox">{{g1}}</div>
            <div class="card-body__number font-toybox">{{o1}}</div>

            <div class="card-body__number font-toybox">{{b2}}</div>
            <div class="card-body__number font-toybox">{{i2}}</div>
            <div class="card-body__number font-toybox">{{n2}}</div>
            <div class="card-body__number font-toybox">{{g2}}</div>
            <div class="card-body__number font-toybox">{{o2}}</div>

            <div class="card-body__number font-toybox">{{b3}}</div>
            <div class="card-body__number font-toybox">{{i3}}</div>
            <div class="card-body__logo"><img src="../../../../assets/image/img/logo.svg" alt=""></div>
            <div class="card-body__number font-toybox">{{g3}}</div>
            <div class="card-body__number font-toybox">{{o3}}</div>

            <div class="card-body__number font-toybox">{{b4}}</div>
            <div class="card-body__number font-toybox">{{i4}}</div>
            <div class="card-body__number font-toybox">{{n4}}</div>
            <div class="card-body__number font-toybox">{{g4}}</div>
            <div class="card-body__number font-toybox">{{o4}}</div>

            <div class="card-body__number font-toybox">{{b5}}</div>
            <div class="card-body__number font-toybox">{{i5}}</div>
            <div class="card-body__number font-toybox">{{n5}}</div>
            <div class="card-body__number font-toybox">{{g5}}</div>
            <div class="card-body__number font-toybox">{{o5}}</div>

        </div>
    </div>
</div>
<div class="container-action">
    <button class="btn container-action__download" (click)="downloadCard(id)">Descargar cartilla</button>
</div>
