@use '../01-abstracts/variable' as *;
@use '../01-abstracts/mixins' as *;


.swal2-container.swal2-top-end{
    justify-content: center !important;
    @media(min-width: 768px){
        grid-template-columns: auto !important;
    }
    @media(max-width: 768px){
        padding: 0 !important;
    }
    .swal2-popup.swal2-modal.swal2-show {
        border-radius: 0;
        padding: 15px 30px;
        @media(max-width: 4000px){
            width: 1240px !important;
            padding: 40px;
        }

        @media(max-width: 2600px){
            padding: 30px;
            width: 840px !important;
        }
        @media(max-width: 1680px){
            width: 600px !important;
        }

        @media(max-width: 600px){
            width: 100% !important;
            padding: 25px;
        }
        h2#swal2-title {
            font-size: 24px !important;
            font-weight: bold;
            padding-top: 20px !important;
            @media(max-width: 4000px){
                font-size: 50px !important;
            }

            @media(max-width: 2600px){
                font-size: 35px !important;
            }

            @media(max-width: 1680px){
                padding: 0 !important;
                font-size: 22px !important;
            }
        }
        div#swal2-html-container {
            margin: 0;
            font-size: 16px;
            padding: 10px;
            @media(max-width: 4000px){
                font-size: 45px;
            }
            @media(max-width: 2600px){
                font-size: 28px;
            }
            @media(max-width: 1680px){
                font-size: 14px;
            }
            @media(max-width: 600px){
                padding: 10px 0px;
            }
        }

        .swal2-actions{
            margin: 0;
            display: flex;
            justify-content: space-between;
            @media(max-width: 600px){
                flex-direction: column;
            }
            .swal2-styled.swal2-deny:focus {
                box-shadow: none !important;
            }
           
            button.swal2-deny{
                width: 48%;
                @include button(true, $white, $color-primary, 50px, 18px, 10px);
                border: 1px solid #A6ACB9;
                font-size: 16px  !important;
                font-weight: 600  !important;
                @media(max-width: 4000px){
                    font-size: 35px !important;
                    @include button(true, $white, $color-primary, 50px, 18px, 20px);
                }

                @media(max-width: 2600px){
                    font-size: 28px !important;
                    @include button(true, $white, $color-primary, 50px, 18px, 10px);
                }
                @media(max-width: 1680px){
                    font-size: 16px !important;
                }
                @media(max-width: 600px){
                    width: 100% !important;
                    margin-bottom: 15px;
                }
            }
            button.swal2-cancel{
                width: 48%;
                @include button(false, $color-primary, $white, 50px, 18px, 10px);
                font-size: 16px !important;
                font-weight: 600  !important;
                @media(max-width: 4000px){
                    font-size: 40px !important;
                    @include button(false, $color-primary, $white, 50px, 18px, 20px);
                }

                @media(max-width: 2600px){
                    font-size: 28px !important;
                    @include button(false, $color-primary, $white, 50px, 18px, 10px);
                }
                @media(max-width: 1680px){
                    font-size: 16px !important;
                }
                @media(max-width: 600px){
                    width: 100% !important;
                }
            }
        }
    }
}